h1{
    background-color: purple;
    color: orangered;
    text-align: left;
}

body {
    background-color: #0000ff;
    color: white;
    line-height: 1.5;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   